.ContactPage{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ContactSection{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #fff;
}
.ConfirmSection{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #fff;
}
.SuccessSection{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #fff;
    height: 35ex;
}
.CenterTextC{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.InfoSection{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 80%;
}
input{
    width: 80%;
    border-top: none;
    border-right: none;
    border-left:none ;
    margin: 5ex;
}
:-ms-value{
    color: red;
}
.primary-btn{
    margin-left: 5ex;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2ex;
}
.TextDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    width: 90%;
    padding: 2ex;
    height: 35ex;
}