.blackBackground{
   background-color: white;
   color: black; 
   height: 70rem;
   z-index: 1;
}
hr{
    width: 80%;
}
ul{
    list-style: none;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
}
.ShadeBlock{
 width: 90%;
 display: flex;
 align-items: center;
 justify-content: center;
 border-top-left-radius: 23px solid black;
 flex-wrap: wrap;
}
.MiniPic{
    width: 10ex;
   

}
.ImageCatch{
    width: 16ex;
    height: 19ex;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.1ex;
}
.Dimond{
background-color: #f1158e;
width: 35ex;
height:35ex;
transform: rotate(45deg) translateX(50%);
opacity: 0.2;
z-index: 0;
position: absolute;
}
.D2{
    transform: rotate(0deg) translateX(60%) translateY(23%);
    opacity: 0.2;
}
.BookCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.SecondInnerCard{

    font-family:  sans-serif;
    font-style: oblique;
}